<app-navbar></app-navbar>
<section id="divi-hero">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="column accent-purple">
          <div class="dark-background">
            <h1 class="headline-1">Welcome</h1>
            <h2 class="headline-2">The Best Computer Graphics Learning Platform In The World And The Ultimate Fractals
              Builder</h2>
          </div>
          <a class="button" href="http://vns.lpnu.ua/course/view.php?id=4802"
             target="_blank"><span>GET STARTED</span></a>
        </div>
      </div>

      <div class="col d-flex align-items-center">
        <div>
          <a class="video-popup" href="https://www.youtube.com/watch?v=QyjyWUrHsFc" target="_blank">
            <div class="play-button-container">
              <div class="play-button">
                <svg>
                  <polygon points="10 33 10 1 34 17"></polygon>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <h2 class="promo">Learn Visually</h2>
    </div>
  </div>
</section>
