.color-primary {
  color: #4500ca;
  font-weight: 400;
  line-height: 1.2;
}

.mat-input-element {
  color: black !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px !important;
}
