<app-navbar background="#ffffff" btnBg="linear-gradient(120deg,rgba(52,221,135,0) 0%,#24d47a 100%)" btnBgColor="#34dda9"
            btnColor="#ffffff" maxWidth="75%" padding="8px 0px"
            position="static" textColor="rgba(32,41,47,.6)"></app-navbar>

<section>
  <div class="row-container">
    <div class="row d-flex justify-content-center">
      <div class="text-center" style="max-width: 850px !important; margin-left: auto; margin-right: auto;">
        <h2 class="subhead">About Us</h2>
        <h1 class="header-text">1 Application. Complete Access.<br>Unlimited Tools. Unlimited Users.</h1>
        <p class="lead">Boost your learning process with Fractals Builder,
          Color Model Converter and Affine Transformation tools. The ultimate ComputerGraphics toolkit awaits. </p>
      </div>
    </div>
  </div>


  <div class="row-container narrow">
    <div class="row" id="pricing-table-top">

      <svg viewBox="0 0 300 322">
        <defs>
          <linearGradient gradientTransform="rotate(110)" id="gradient">
            <stop offset="5%" stop-color="rgba(233,244,255,0)"></stop>
            <stop offset="95%" stop-color="rgba(233,244,255,.7)"></stop>
          </linearGradient>
        </defs>
        <path
          d="M300,211.09V110.76c0-21.47-11.55-41.27-30.23-51.85L179.35,7.73c-18.21-10.31-40.48-10.31-58.69,0L30.23,58.91 C11.55,69.48,0,89.29,0,110.76v100.33c0,21.47,11.55,41.27,30.23,51.85l90.42,51.18c18.21,10.31,40.48,10.31,58.69,0l90.42-51.18 C288.45,252.36,300,232.55,300,211.09z"
          fill="url(#gradient)"></path>
      </svg>

      <div class="column-container">

        <div class="column card">
          <h2 class="title1 text-center">Vladislav Manjula</h2>
          <img alt="Vladik" class="mx-auto d-block mt-2" src="../../assets/vladik.png" style="width: 200px"/>
          <p class="lead text-center mt-3">Technical writer</p>
          <a class="button1 mt-4" href="https://web.telegram.org/#/im?p=u439032305_6591434073524674673"
             target="_blank"><span>GET IN TOUCH</span></a>
        </div>
      </div>

      <div class="column-container">
        <div class="column card main-dev">
          <h2 class="title2 text-center">Anton Vovk</h2>
          <img alt="Anton" class="mx-auto d-block mt-2" src="../../assets/anton.png" style="width: 200px"/>
          <p class="lead text-center mt-3">Founder and main developer</p>
          <a class="button2 mt-4" href="https://t.me/size_tnullptr/"
             target="_blank"><span>GET IN TOUCH</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
