<app-navbar background="#4500ca" position="static"></app-navbar>

<div class="row d-flex flex-nowrap" style="height: 889px">
  <div class="mat-elevation-z8 col-3" style="width: 20%; height: 100%">
    <div class="mx-4">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div>
              <span>
                <mat-form-field class="mr-sp mt-3" style="width: 200px">
                  <input matInput type="number" placeholder="X1" formControlName="x1">
                </mat-form-field>

                <mat-form-field style="width: 200px">
                  <input matInput type="number" placeholder="Y1" formControlName="y1">
                </mat-form-field>
              </span>
        </div>

        <div class="d-flex justify-content-between">
          <mat-form-field class="w-100 mr-3">
            <input matInput type="number" placeholder="X2" formControlName="x2">
          </mat-form-field>

          <mat-form-field class="w-100 ml-3">
            <input matInput type="number" placeholder="Y2" formControlName="y2">
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-between">
          <mat-form-field class="w-100 mr-3">
            <input matInput type="number" placeholder="X3" formControlName="x3">
          </mat-form-field>

          <mat-form-field class="w-100 ml-3">
            <input matInput type="number" placeholder="Y3" formControlName="y3">
          </mat-form-field>
        </div>

        <div class="mt-3">
          <button mat-button type="submit" [disabled]="!profileForm.valid" color="primary" class="w-100 main-btn">
            Draw
          </button>
        </div>

        <div class="mt-5">
          <mat-form-field class="w-100">
            <input matInput type="number" placeholder="Size" formControlName="sizeMultiplier">
          </mat-form-field>

          <div class="mt-1">
            <button mat-button type="submit" [disabled]="!profileForm.valid" color="primary" class="w-100 main-btn">
              Resize
            </button>
          </div>
        </div>

        <div class="mt-5">
          <mat-form-field class="w-100">
            <mat-label>Vertex of the triangle</mat-label>
            <mat-select >
              <mat-option value="A">A</mat-option>
              <mat-option value="B">B</mat-option>
              <mat-option value="C">C</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput type="number" placeholder="Speed">
          </mat-form-field>

          <div class="d-flex justify-content-between mt-1">
            <div class="mt-1 w-100 mr-3">
              <button mat-button type="submit" color="primary" class="w-100 main-btn">Start animation</button>
            </div>

            <div class="mt-1 w-100 ml-3">
              <button mat-button type="submit" color="primary" class="w-100 main-btn">Stop animation</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div #mainContent class="w-100 h-100" style="background: transparent">
    <canvas #canvas></canvas>
  </div>
</div>
