.top-bar {
  z-index: 1000;
}

.mat-drawer {
  width: 25%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
background-color: #ffffff;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
background-color: #ffffff;
}

.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger:hover {
  opacity: 1;
}

mat-icon {
  width: 36px !important;
  height: 36px !important;
}

mat-nav-list button {
  background-color: white;
  border-bottom: 1px lightgrey solid;
  padding-bottom: 8px;
  padding-top: 8px;
}

mat-nav-list {
  border-bottom: 1px lightgrey solid;
}

.mat-list-base {
 padding-top: 0;
}

.fractal-menu {
  height: 82vh;
}

.main-page {
  height: 93.4vh;
}

.color-menu {
  height: 87.5vh;
}

.d-menu {
  height: 93vh;
}

.main-btn {
  color: white;
  background-color: #673ab7 !important;
  border-radius: 10px;
}

.mr-sp {
  margin-right: 31px;
}

.color-primary {
  color: #673ab7 !important;
  font-weight: 500;
  font-size: 0.9em;
}
