<div [ngStyle]="{'background': background, 'position': position}" [ngClass]="startPage ? 'mat-elevation-z2' : ''" id="main-nav">
  <div class="row-container">
    <a id="logo" routerLink="/"><img alt="Elegant Themes" src="../../assets/logo.png"></a>
    <nav>
      <ul class="menu">
        <li>
          <a class="menu-item" routerLink="/">Home</a>
        </li>
        <li>
          <a class="menu-item" routerLink="/fractals-builder">Fractals Builder</a>
        </li>
        <li>
          <a class="menu-item" routerLink="/color-models">Color Models</a>
        </li>
        <li>
          <a class="menu-item" routerLink="/affine-transformation">Affine Transformation</a>
        </li>
        <li>
          <a class="menu-item" routerLink="/">About</a>
      </ul>
      <div class="pricing-button-wrapper">
        <a href="https://www.elegantthemes.com/join/" id="pricing-button"><span>Contact Us</span></a>
      </div>
    </nav>
  </div>
</div>
