<app-navbar background="#4500ca" position="static"></app-navbar>
<div class="row d-flex flex-nowrap" style="height: 889px">
  <div class="mat-elevation-z8 " style="width: 25%; height: 100%">
    <div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fractals
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <button class="w-100 tutorial-btnx text-left" mat-button>Education Materials</button>
            </mat-list-item>
            <mat-list-item>
              <button class="w-100 tutorial-btnx text-left" mat-button>Gallery</button>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Color Models
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <button class="w-100 tutorial-btnx text-left" mat-button>Education Materials</button>
            </mat-list-item>
            <mat-list-item>
              <button class="w-100 tutorial-btnx text-left" mat-button>Gallery</button>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Affine Transformation
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <button class="w-100 tutorial-btnx text-left" mat-button>Education Materials</button>
            </mat-list-item>
            <mat-list-item>
              <button class="w-100 tutorial-btnx text-left" mat-flat-button>Gallery</button>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
