@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~hamburgers/dist/hamburgers.css";

html, body { height: 100%; }
body {
  padding: 0;
  line-height: 1.75em;
  font-family: lato,sans-serif;
  font-size: 17px;
  text-align: left;
  color: #6d7c90;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100vh;
}

*:focus {
  outline: none !important;
}

.mat-select-panel {
  max-height: 1000px !important;
}
